body {
	margin: 0;
}
.refugee-quota {
	position: relative;
}
.visualization {
	width: 100%;
	height: 70vh;
}
path {
	vector-effect: non-scaling-stroke;
}
.country {
	fill: #ccc;
	cursor: pointer;
}
.country.no-data {
	opacity: .3;
	cursor: default;
}
path.schengen {
	fill: none;
	stroke: #999;
	stroke-width: 2;
}
path.border {
	fill: none;
	stroke: #fff;
	stroke-width: 1;
}
rect {
	vector-effect: non-scaling-stroke;
}
rect.metric {
	fill: #fff;
	stroke: rgba(0, 0, 0, .2);
	stroke-width: 2;
	cursor: pointer;
}
rect.metric-outline {
	stroke-width: 1;
	stroke: #fff;
	fill: none;
	cursor: pointer;
}
rect.application-count {
	fill: #752104;
	cursor: pointer;
}
.legend rect.application-count,
.legend rect.metric,
.legend rect.metric-outline {
	cursor: default;
}
.label text:first-child {
	stroke: #fff;
	stroke-width: 3;
	stroke-linejoin: round;
	opacity: .5;
}
.label text:last-child {
	fill: #000;
}
.legend-bg {
	fill: #eee;
}
.legend path {
	stroke: #000;
	fill: none;
}
.tooltip {
	pointer-events: none;
	position: absolute;
	background: #fff;
	padding: .5em;
	width: 20em;
	max-width: 50%;
}
.tooltip .values {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
.tooltip .statistic {
	width: 10em;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.tooltip .number {
	display: block;
	font-size: 1.5em;
}
.tooltip.hidden {
	display: none;
}
.tooltip small {
	display: block;
	margin-top: .5em;
}
@media (max-width: 500px) {
	.tooltip {
		position: fixed;
		left: 0 !important;
		top: auto !important;
		bottom: 0 !important;
		width: 100%;
		max-width: 100%;
	}
}
